<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.ArticleTypeMapper">
    <!--    //添加ArticleType-->
    <!--    int addArticleType(ArticleType articleType);-->
    <insert id="addArticleType" parameterType="articleType">
        insert into blog.blog_articletype (articleType_name)
        values (#{articleTypeName});
    </insert>
    <!--    //修改ArticleType-->
    <!--    int updateArticleType(ArticleType articleType);-->
    <update id="updateArticleType" parameterType="articleType">
        update blog.blog_articleType
        set articleType_name = #{articleTypeName}
        where articleType_id = #{articleTypeId};
    </update>
    <!--    //删除ArticleType-->
    <!--    int deleteArticleType(long id);-->
    <delete id="deleteArticleType">
        delete
        from blog.blog_articletype
        where articleType_id = #{articleTypeId};
    </delete>
    <!--    //查询ArticleType-->
    <!--    ArticleType queryArticleTypeById(long id);-->
    <select id="queryArticleTypeById" resultType="articleType">
        select *
        from blog.blog_article
        where articleType_id = #{articleTypeId};
    </select>

</mapper>